<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

        <title>{{ _nakima('nakima').title }}</title>
    </head>
    <body style="padding:0; margin:0">
        <h1>{% trans from "nakima_user" %}Welcome to{% endtrans %} <b>{{ _nakima('nakima').title }}</b></h1>

        <p>{% trans from "nakima_user" %}Hello{% endtrans %} {{ user.username }},</p>
        <p>{% trans from "nakima_user" %}Your account is now enabled, thanks to trust in{% endtrans %} {{ _nakima('nakima').title }}</p>

        <p><a href="{{ app.request.getSchemeAndHttpHost() }}">{{ _nakima('nakima').title }}</a></p>
    </body>
</html>
