<!DOCTYPE html>
<html >
    <head>

        <link rel="icon" href="{{ _nakima('nakima').favicon }}">

        <script src="{{ asset('bundles/nakimauser/adminLTE/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
        <script src="{{ asset('bundles/nakimauser/adminLTE/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/nakimauser/adminLTE/bootstrap/js/bootstrap.min.js') }}"></script>

        <script src="{{ asset('bundles/nakimauser/adminLTE/plugins/iCheck/icheck.min.js') }}"></script>
        {#<script src="{{ asset('bundles/nakimauser/adminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>#}
        <script src="{{ asset('bundles/nakimauser/adminLTE/dist/js/app.min.js') }}"></script>
        <script src="{{ asset('bundles/nakimacore/js/index.js') }}"></script>

        <link rel="stylesheet" href="{{ asset('bundles/nakimauser/adminLTE/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/nakimauser/adminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/nakimauser/adminLTE/plugins/iCheck/all.css') }}" />

        <link rel="stylesheet" href="{{ asset('bundles/nakimauser/adminLTE/dist/css/AdminLTE.min.css') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

        <style>
            body {
                background: #d2d6de
            }
        </style>
        <script>
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_aquare-blue',
                    increaseArea: '20%' // optional
                });
            });
        </script>

        <meta charset="UTF-8">
        <title>{{ _nakima("nakima").title}}</title>
        <style>
            @import url(https://fonts.googleapis.com/css?family=Roboto:300);

            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0px 1000px white inset;
            }
        </style>

        {% for stylesheet in _nakima('nakima_user').stylesheets %}
            <link rel="stylesheet" href="{{ stylesheet }}">
        {% endfor %}

    </head>

    {% block body %}
    <body>
        <div class="page">
            <div class="form">
            </div>
        </div>
    </body>
    {% endblock body %}
</html>
