{% extends "NakimaUserBundle::base_layout.html.twig" %}

{% block body %}
    <body class="hold-transition">
        <div class="login-box">
            <div class="login-logo">
                <img class="img-responsive"  src="{{ _nakima('nakima').logo }}"  />
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">

                <p class="login-box-msg">{% trans from "nakima_user" %}Sign in to start your session{% endtrans %}</p>

                <form id="login-form" action="{{ url('nakima_user_api_login') }}" method="post" enctype="multipart/form-data">
                    <div class="form-group has-feedback">
                        <input id="username" type="text" class="form-control" placeholder="{% trans from "nakima_user" %}Username{% endtrans %}" name="username">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input id="password" type="password" class="form-control" placeholder="{% trans from "nakima_user" %}Password{% endtrans %}" name="password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>

                    <div class="row">
                        <div class="col-xs-8">
                            <div id="form-error" style="display:none" class="callout callout-danger">
                                <p>{% trans from "nakima_user" %}Wrong username or password{% endtrans %}</p>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat" onclick="this._submit(event, loginSuccess, loginFailure, preLogin, postLogin)">{% trans from "nakima_user" %}Sign In{% endtrans %}</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                {#
                <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
                    <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
                </div>
                <!-- /.social-auth-links -->
                #}

                <a href="{{ url('nakima_user_web_password_recover') }}">{% trans from "nakima_user" %}I forgot my password{% endtrans %}</a><br>
                <a href="{{ url('nakima_user_web_register') }}" class="text-center">{% trans from "nakima_user" %}Register a new membership{% endtrans %}</a>

            </div>
            <!-- /.login-box-body -->
        </div>
    </body>

    <script>
        function preLogin() {
            _class('has-error').forEach(function(elem) {
                elem.classList.remove('has-error');
            });

            _class('has-success').forEach(function(elem) {
                elem.classList.remove('has-success');
            });

            return true;
        }

        function loginSuccess(http) {
            location.href = "/";
        }

        function loginFailure(http) {
            var inputs = this._tag('input');

            this._tag('input').forEach(function(input) {
                input.parentElement.classList.add('has-error');
            });
        }

        function postLogin(http) {
        }
    </script>
{% endblock body %}
