{% extends "NakimaUserBundle::base_layout.html.twig" %}

{% block body %}
    <body class="hold-transition">

        <div class="register-box">
            <div class="login-logo">
                <img class="img-responsive"  src="{{ _nakima('nakima').logo }}"  />

            </div>
            <div class="register-box-body">
                <p class="login-box-msg">{% trans from "nakima_user" %}password_recover_success{% endtrans %}</p>

                <p>{% trans from "nakima_user" %}password_recover_success_message{% endtrans %}.</p>

                <a href="{{ url('nakima_user_web_login') }}" class="text-center">{% trans from "nakima_user" %}back_to_login{% endtrans %}</a>
            </div>
            <!-- /.form-box -->
        </div>

        <script>

            function passRecoverSuccess(http) {
                location.href = "{{ url('nakima_user_web_login') }}";
            }

            function passRecoverFailure(http) {
                var param = JSON.parse(http.response).param;

                var inputs = this._tag('input');

                inputs.forEach(function(input) {
                    if (param == input.name) {
                        input.parentElement.classList.add('has-error');
                    } else {
                        input.parentElement.classList.add('has-success');
                    }
                });
            }

            function postRegister() {

            }

        </script>
    </body>
{% endblock body %}