{% extends "NakimaUserBundle::base_layout.html.twig" %}

{% block body %}
    <body class="hold-transition">

        <div class="register-box">
            <div class="login-logo">
                <img class="img-responsive"  src="{{ _nakima('nakima').logo }}"  />

            </div>
            <div class="register-box-body">
                <p class="login-box-msg">{% trans from "nakima_user" %}Register a new membership{% endtrans %}</p>

                <form id="register-form" action="{{ url('nakima_user_api_register') }}" method="post">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="{% trans from "nakima_user" %}username{% endtrans %}" name="username">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" placeholder="{% trans from "nakima_user" %}Email{% endtrans %}" name="email">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="{% trans from "nakima_user" %}Password{% endtrans %}" name="password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="{% trans from "nakima_user" %}Retype password{% endtrans %}" name="password2">
                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck">
                                <label>
                                    <input type="checkbox"><a href="">&nbsp;&nbsp;{% trans from "nakima_user" %}terms_agree{% endtrans %}</a>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat" onclick="this._submit(event, registerSuccess, registerFailure, preRegister, postRegister)">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                {#<div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using Facebook</a>
                    <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using Google+</a>
                </div>#}

                <a href="{{ url('nakima_user_web_login') }}" class="text-center">{% trans from "nakima_user" %}I already have a membership{% endtrans %}</a>
            </div>
            <!-- /.form-box -->
        </div>

        <script>
            function preRegister() {
                _class('has-error').forEach(function(elem) {
                    elem.classList.remove('has-error');
                });

                _class('has-success').forEach(function(elem) {
                    elem.classList.remove('has-success');
                });

                return true;
            }

            function registerSuccess(http) {
                location.href = "{{ url('nakima_user_web_register_complete') }}";
            }

            function registerFailure(http) {
                var params = JSON.parse(http.response).params;

                var inputs = this._tag('input');

                inputs.forEach(function(input) {
                    if (params.includes(input.name)) {
                        input.parentElement.classList.add('has-error');
                    } else {
                        input.parentElement.classList.add('has-success');
                    }
                });
            }

            function postRegister() {

            }

        </script>
    </body>
{% endblock body %}