{% extends "NakimaUserBundle::base_layout.html.twig" %}

{% block body %}
    <body class="hold-transition">

        <div class="register-box">
            <div class="login-logo">
                <img class="img-responsive"  src="{{ _nakima('nakima').logo }}"  />

            </div>
            <div class="register-box-body">
                <p class="login-box-msg">{% trans from "nakima_user" %}Registration successfull{% endtrans %}</p>

                <p>{% trans from "nakima_user" %}You will now receive an email to confirm your account{% endtrans %}.</p>

                <a href="{{ url('nakima_user_web_login') }}" class="text-center">{% trans from "nakima_user" %}Return to login page{% endtrans %}</a>
            </div>
            <!-- /.form-box -->
        </div>

    </body>
{% endblock body %}