{% extends "NakimaUserBundle::base_layout.html.twig" %}

{% block body %}
    <body class="hold-transition">

        <div class="register-box">
            <div class="login-logo">
                <img class="img-responsive"  src="{{ _nakima('nakima').logo }}"  />

            </div>
            <div class="register-box-body">

                {% if success %}
                    <p class="login-box-msg">{% trans from "nakima_user" %}Registration successfull{% endtrans %}</p>
                    <p>{% trans from "nakima_user" %}Your account is now active. Thanks to use our product.{% endtrans %}</p>
                {% else %}
                    <p class="login-box-msg">{% trans from "nakima_user" %}Registration failed{% endtrans %}</p>
                    <p>{% trans from "nakima_user" %}Your account cannot be activated, go to recover password to resend you an email with a new a validation link{% endtrans %}</p>

                    <p><a href="{{ url('nakima_user_web_password_recover') }}" class="text-center">{% trans from "nakima_user" %}Resend validation email{% endtrans %}</a></p>
                {% endif %}

                <a href="{{ url('nakima_user_web_login') }}" class="text-center">{% trans from "nakima_user" %}Return to login page{% endtrans %}</a>
            </div>
            <!-- /.form-box -->
        </div>

    </body>
{% endblock body %}